* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.info {
    display: flex;
    margin: auto;
    font-size: 1.6rem;
}

.info>* {
    flex-basis: 33.33%;
}

.game-field {
    position: relative;
    margin: auto;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    user-select: none;
}

.tile_number {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(109, 128, 168);
    cursor: pointer;
}

.tile_empty {
    background-color: transparent;
}